HTTP_HOST_PORT=5012
HTTPS_HOST_PORT=5002
FINANCEDB="Server=<HOST>;Username=<USERNAME>;Database=<DATABASE>"
ASPNETCORE_ENVIRONMENT="<Production/Development>"
CERTIFICATE_PATH="/root/.aspnet/https/Transaction_Service.pfx"
CERTIFICATE_PASSWORD="<CERTIFICATE PASSWORD>"